.Rhistory
.config.json
.tmp/
*.easy
*.pkl
0-MolSys_OPLS_geo_opt323.ptGeo/
0-MolSys_OPLS_mol_dyn33333.ptGeo/
6-MolSys_OPLS_PES_scan.ptGeo/
6-MolSys_OPLS_PES_scan22.ptGeo/
EasyHybrid3_dev.tar.gz
EasyHybrid_dev.geany
TEsTE_umbrella/
__pycache__/
examples/1UAO_OPLS.pkl
examples/SnakeVenon_DFTB_plus_QC55.easy
examples/SnakeVenon_DFTB_plus_QC55.pkl
examples/TDP1_scan2D_test.easy
examples/TDP1_scan2D_test.easy~
examples/TESTEEEEEEE.easy
examples/TESTE_do_EASY.easy
examples/TESTE_do_EASY.easy~
examples/easy/
examples/halo.pkl
examples/molecules.easy
examples/molecules.easy~
examples/molecules2.easy
examples/molecules2.easy~
examples/molecules3.easy
examples/pdb/1UAO_BOX.pdb
examples/snakeVenon.easy
examples/snakeVenon.easy~
examples/teste_ROTAMER.easy
examples/teste_ROTAMER.easy~
examples/teste_box.easy
examples/untitled.easy
examples/untitled.easy~
examples/untitled12.easy
examples/untitled12.easy~
examples/untitled22.easy
examples/xyz/
install_old.py
paths.py
splash_old.png
src/gui/#MainWindow.glade#
src/gui/MainWindow.glade~
src/gui/__pycache__/
src/gui/icons/.~lock.icons.odg#
src/gui/splash/
src/gui/widgets/RC_box_mode_1_mod.glade
src/gui/widgets/__pycache__/
src/gui/widgets/custom_widgets_mod.py
src/gui/widgets/trash/
src/gui/windows/analysis/WHAM_analysis_window.glade~
src/gui/windows/analysis/__pycache__/
src/gui/windows/analysis/export_incomplete_matrix.glade~
src/gui/windows/analysis/selection_superpose.glade
src/gui/windows/analysis/surface_analysis_window.glade~
src/gui/windows/setup/__pycache__/
src/gui/windows/setup/edit_frames_dialog.glade~
src/gui/windows/setup/import_system_window.glade~
src/gui/windows/setup/import_system_window_new.glade~
src/gui/windows/setup/import_trajectory_window.glade~
src/gui/windows/setup/setup_interface.glade~
src/gui/windows/simulation/#PES_scan_window.glade#
src/gui/windows/simulation/__pycache__/
src/gui/windows/simulation/chain_of_states_opt_window.glade~
src/pdynamo/__pycache__/
src/util/__pycache__/
src/util/topol.py
src/util/traj.xyz
trash/
workspace/
